/*		Default Layout: 960px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/
.container{
	width:960px;
	display:block;
	margin:0 auto;
}
.img{
	max-width:100%;
	height:auto;
}

.selectnav{
	display:none;
}








/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 959px) {




.container{
	width:95%;

}

.selectnav{
	display:none;
}


.all_col{
		width:320px;
	
}

.all_col img{
	width:320px;
	height:auto;
}

#content{
	width:62%;
	margin-right:2%;
	float:left
}
#sideber{
	width:34%;
	float:left;
		margin-left:1%;
}
.sb_col{
		width:90%;
	
}

.table{
	width:95%
}
.footer_part {
    padding-bottom: 25px;
    overflow: hidden;
    text-align: center;}
.footer_left{width:95%;margin-left:1%;}
.footer_middle{width:95%;margin-left:1%;}
.footer_right{width:95%;margin-left:1%;}


}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
#slider_wrapper{
	display:none;
}
#mainmenu{
	display:none;
}
	
.selectnav{
	display:block;
	width:100%;
}
	

.container{
	width:98%;

}

.all_col{
		width:41%;
		float:left;
}
.all_col img{
	width:99%;
	height:auto;
}


#content{
	width:100%;
}
#sideber{
	width:100%;
}
.sb_col{
		width:98%;
	
}
.sb_col img{
	width:99%;
	height:auto;
}
.table{
	width:95%
}
.footer_part {
    padding-bottom: 25px;
    overflow: hidden;
    text-align: center;}
.footer_left{width:95%;margin-left:1%;}
.footer_middle{width:95%;margin-left:1%;}
.footer_right{width:95%;margin-left:1%;}


	
	
		
	
}
	
	
	
	
	
	
	
	
	
	
	
	



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (min-width: 320px) and (max-width: 479px) {

#slider_wrapper{
	display:none;
}
#mainmenu{
	display:none;
}

.container{
	width:98%;

}
		
.selectnav{
	display:block;
	width:100%;
}	

	
.all_col{
		width:92%;
		float:left;
	
}
.all_col img{
	width:99%;
	height:auto;
}


#content{
	width:100%;
}
#sideber{
	width:100%;
}
.sb_col{
		width:96%;
	
}
.sb_col img{
	width:99%;
	height:auto;
}
.table{
	width:95%
}
.footer_part {
    padding-bottom: 25px;
    overflow: hidden;
    text-align: center;}


.footer_left{width:95%;margin-left:1%;}
.footer_middle{width:95%;margin-left:1%;}
.footer_right{width:95%;margin-left:1%;}


	
	
	
	
}








/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

	
	
	
	
	
	
	
	
	
	
	
	
	
}